<!DOCTYPE html>
<html lang = "en">
<head>
<meta charset = "UTF-8">
<link rel="stylesheet" href="/assets/commoncss.css">
<link rel="stylesheet" href="/assets/logincss.css">
</head>
<body>
    <header>
    <p class="Commonclass1">P</p>
    <p class="Commonclass1">C</p>
    <p class="Commonclass1">B</p>
    <p class="Commonclass2">Defect Classifier</p>
    </header>
    <div class="login_box" id="id3">
        <h1>Sign Up</h1>
        <form action="/signup" method="POST">
            <div class="textbox">
                <input type="text" name="name" placeholder="Full Name">
            </div>
            <div class="textbox">
                <input type="email" name="email" placeholder="Email">
            </div>
            <div class="textbox">
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="textbox">
                <input type="password" name="confirmPassword" placeholder="Confirm Password">
            </div>
            <input class="btn" type="submit" value="Sign in">
        </form>
    </div>
</body>
</html>